include icbm

// page content gets loaded into here
#page    
    .window_container
        #window.window
            div(ng-view='')
    
// external sites
.contact_right
    <a href="http://www.linkedin.com/home"><img class="link" src="images/linkedin.png"/></a>
    <a href="https://twitter.com/Jacob_Friesen"><img class="link" src="images/twitter.png"/></a>
    <a class="bottom" href="https://github.com/Jacob-Friesen"><img class="link" src="images/github.png"/></a>
    
// main contact info
.contact_footer
    p .
        Jacob Friesen 2012, <a class="email" href="mailto: jacob@jacobfriesen.com">jacob@jacobfriesen.com</a>, 
        <a class="email" href="http://jacobfriesen.com/downloads/Jacob_Friesen_Resume.pdf">Resume</a> (<a class="email" href="http://jacobfriesen.com/downloads/Jacob_Friesen_Resume.html">HTML</a>), 
        <a class="email" href="http://jacobfriesen.com/MIT_License.txt">MIT License</a>,
        <a class="email" href="https://github.com/Jacob-Friesen/portfolio_website">Source</a>