include icbm/index

canvas#canvas

// page content gets loaded into here
#page    
    .window_container
        #window.window
    
// Preload color images
//div(style="display:none")
//    image(src="/images/menu_icons/home_page.png")
//    image(src="/images/menu_icons/skills_page.png")
//    image(src="/images/menu_icons/experience_page.png")
//    image(src="/images/menu_icons/demos_page.png")
//    image(src="/images/menu_icons/blog_page.png")
    
// external sites
.contact_right
    <a href="http://www.linkedin.com/home"><img class="link" src="images/linkedin.png"/></a>
    <a href="https://twitter.com/Jacob_Friesen"><img class="link" src="images/twitter.png"/></a>
    <a class="bottom" href="https://github.com/Jacob-Friesen"><img class="link" src="images/github.png"/></a>
    
// main contact info
.contact_footer
    p .
        Jacob Friesen 2012, <a class="email" href="mailto: jacob@jacobfriesen.com">jacob@jacobfriesen.com</a>, 
        <a class="email" href="/downloads/Jacob_Friesen_Resume.pdf">Resume</a>, 
        <a class="email" href="http://en.wikipedia.org/wiki/MIT_License">MIT License</a>