.page.resume

  //- Non IE/Safari browsers will download the file, while the rest will open it in a new tab (If there is a PDF read)
  a#download-file.download(
    title='Download Jacob Friesen\'s Resume'
    href='downloads/Jacob_Friesen_Resume.pdf',
    download='Jacob_Friesen_Resume.pdf',
    target='_blank'
  )
    .fa.fa-download
    span Download

  .resume-body
    include resume-body.pug