/*
* Describes general formatting for theno script web application.
*/
div.rolloutMenu{
	float: left;
	position: relative;
}

div.centerInit{
	border: 0px solid black;
}

div.windowSpace{
	float: left;
	margin-left: 12px;
}

div.menuTxt {
	font-size: 14.5px;
	font-style: Arial;
	color: black;
	padding-top: 10px;
	width: 100%;
	height: 100%;
}

.leftMenuButton div.menuTxt:hover {
	color: white;
}

/*
* Overrides
*/

div.topBarNS{
	top: 0;
	margin-top: 0;
	background-color: black;
	margin: auto;
}

div.mainBox, div.expBox, div.controlsTab, a.nonJSLink{
	display: inline;
}

div.mainBox, div.expBox, div.controlsTab{
	border: 1px solid black;
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}

div.menuBottom{ 
	height: 230px;
}

/*
* Invisible
*/
input.attachButton, button.optionsBtn, button.closeBtn, p.dispText, button.collapseText,button.collapseTextT, button.collapseTextB, a.jsLink{
	display: none;
}

a.nonJSLink {
	border: none;
}