.page-wrapper
  ul.menu
    li.menu-item(*ngFor='let item of items')
      a(class='menu-link {{ item.id }}', [id]='item.id', [routerLink]='item.route')
        i([class]='item.iconClass')
        span {{ item.title }}

  -// Menu Items will appear below
  router-outlet