.skillset
  .card([class.expanded]='index === collapseManager.openIndex', *ngFor='let skill of data; let index=index')
    .card-header.skill-header((click)='collapseManager.toggle(index)')
      button.expander
        i.fa.fa-chevron-up(*ngIf='index === collapseManager.openIndex')
        i.fa.fa-chevron-down(*ngIf='index !== collapseManager.openIndex')
      h4.title
        span {{ skill.name }}&nbsp;
        span.title-detail {{ skill.level }} ({{ skill.time.join('') }} years)
    .card-body(*ngIf='index === collapseManager.openIndex')
      hr.separator
      p#skill-summary.summary {{ skill.summary || 'A fake summary here.' }}

      ul.points(*ngIf='skill.subSkills')
        li.point(*ngFor='let subSkill of skill.subSkills')
          span {{ subSkill.name }}&nbsp;
          span.title-detail {{ subSkill.level }} ({{ subSkill.time.join('') }} years)
        