
<div class="skillset">
  <div class="card" [class.expanded]="index === collapseManager.openIndex" *ngFor="let skill of data; let index=index">
    <div class="card-header skill-header" (click)="collapseManager.toggle(index)">
      <button class="expander"><i class="fa fa-chevron-up" *ngIf="index === collapseManager.openIndex"></i><i class="fa fa-chevron-down" *ngIf="index !== collapseManager.openIndex"></i></button>
      <h4 class="title"><span>{{ skill.name }}&nbsp;</span><span class="title-detail">{{ skill.level }} ({{ skill.time.join('') }} years)</span></h4>
    </div>
    <div class="card-body" *ngIf="index === collapseManager.openIndex">
      <hr class="separator"/>
      <p class="summary" id="skill-summary">{{ skill.summary || 'A fake summary here.' }}</p>
      <ul class="points" *ngIf="skill.subSkills">
        <li class="point" *ngFor="let subSkill of skill.subSkills"><span>{{ subSkill.name }}&nbsp;</span><span class="title-detail">{{ subSkill.level }} ({{ subSkill.time.join('') }} years)</span></li>
      </ul>
    </div>
  </div>
</div>