
<div class="page home">
  <div class="row">
    <div class="col-md-6 content"><img class="profile-image" id="profile-image" src="../images/jacob.jpg" title="Picture Of Jacob Friesen Software Developer"/></div>
    <div class="col-md-6 content">
      <div class="contact email-contact"><b>Email:&nbsp;</b><span>jacob@jacobfriesen.com</span></div>
      <hr/>
      <div class="contact"><i class="fa fa-github"></i><b>Github: </b><a href="https://github.com/Jacob-Friesen">Jacob-Friesen</a></div>
      <div class="contact"><i class="fa fa-twitter"></i><b>Twitter:</b><a href="https://twitter.com/Jacob_Friesen">Jacob_Friesen</a></div>
      <div class="contact"><i class="fa fa-tumblr"></i><b>Tumblr: </b><a href="http://obscurejavascript.tumblr.com/">Obscure JavaScript blog</a></div>
      <div class="contact"><i class="fa fa-linkedin"></i><b>LinkedIn: </b><a href="http://www.linkedin.com/in/jacobfriesen">LinkedIn Profile</a></div>
      <hr/>
      <p>I'm a Senior Software Developer who works at Zimit, currently developing their first product with a small team of developers. I specialize in JavaScript focused technologies like AngularJS and Node.js, but I also have experience with other web stacks like Ruby or Java.</p>
      <h4 class="summary-title">Specialties</h4>
      <ul>
        <li>JavaScript - client side, server side (Node.js), mobile</li>
        <li>HTML/CSS (and various preprocessors like SCSS)</li>
        <li>Unix environments (e.g. Linux, Mac OS X)</li>
        <li>Full stack development (Node.js, Ruby on Rails, etc.)</li>
      </ul>
    </div>
  </div>
</div>