<div class="page home">
  <h1 id='title'>Home</h1>

  <div class="row">
    <div class="col-md-6 content"><img src="images/jacob.jpg" title="Picture Of Jacob Friesen Software Developer" class="profile-image"/></div>
    <div class="col-md-6 content">
      <div class="contact email-contact"><b>Email:&nbsp;</b><span>jacob@jacobfriesen.com</span></div>
      <hr/>
      <div class="contact"><i class="fa fa-github"></i><b>Github: </b><a href="https://github.com/Jacob-Friesen">Jacob-Friesen</a></div>
      <div class="contact"><i class="fa fa-twitter"></i><b>Twitter: </b><a href="https://twitter.com/Jacob_Friesen">@Jacob_Friesen</a></div>
      <div class="contact"><i class="fa fa-tumblr"></i><b>Tumblr: </b><a href="http://obscurejavascript.tumblr.com/">Obscure JavaScript blog</a></div>
      <div class="contact"><i class="fa fa-linkedin"></i><b>LinkedIn: </b><a href="http://www.linkedin.com/in/jacobfriesen">LinkedIn Profile</a></div>
      <hr/>
      <p>I'm a Software Developer who works at VeriAS, currently designing and developing their new UI. I specialize in JavaScript and client side coding, but I also work and have experience with the full web stack.</p>
      <h4 class="summary-title">Specialties</h4>
      <ul>
        <li>JavaScript - client side, server side (Node.js), mobile</li>
        <li>HTML/CSS (and various preprocessors)</li>
        <li>Unix environments (e.g. Linux, Mac OS X)</li>
        <li>Full stack development (Node, Ruby on Rails, etc.)</li>
      </ul>
    </div>
  </div>
</div>
