.title_bar
    h1(id = "home_title")= constant.page_text.home.title
    
.main_picture(id = "main_picture")
    img.main_image(id="main_image", src="/images/Jacob_s.jpg", alt="Jacob Friesen")
.text_wrapper
    p.home= constant.page_text.home.introduction
    p.specialties= constant.page_text.home.specialty_title
    ul.specialties
        - var specialties =  constant.page_text.home.specialties;
        - for (var i = 0; i < specialties.length; i++)
            li= specialties[i]