.page-wrapper
  app-menu
  router-outlet

p.github-link
  i.fa.fa-github
  a(href='https://github.com/Jacob-Friesen/portfolio_website', target='_blank') View on Github
  cite Copyright {{getYear()}} Jacob Friesen