h1 {{ title }}

ul
  li
    a#home-menu-item([routerLink]="['/home']") Home
  li
    a#experience-menu-item([routerLink]="['/experience']") Experience
  li
    a#skills-menu-item([routerLink]="['/skills']") Skills
  li
    a#demos-menu-item([routerLink]="['/demos']") Demos
  li
    a#blog-menu-item([routerLink]="['/blog']") Blog
  li
    a#resume-menu-item([routerLink]="['/resume']") Resume

router-outlet