#blogBox.expBox(name="blogBox")
	#red.topWrapper
				
	// Title
	#bTitleWrapper.titleWrapper(name="bTitleWrapper)
		h1 Jacob Friesen's Blog: August 2011
	#bTextWrapper.textWrapper(name="bTextWrapper")
		blog coming soon...