- var blog = constant.page_text.blog;
#blogBox.expBox(name="blogBox")
    #red.topWrapper
                
    #bTitleWrapper.titleWrapper(name="bTitleWrapper")
        h1 Blog
    #bTextWrapper.textWrapper(name="bTextWrapper")
        p= blog.introduction
            &nbsp;
            a(href=blog.links[0][0], alt=blog.links[0][2])=blog.links[0][1]
            span &nbsp;and&nbsp;
            a(href=blog.links[1][0], alt=blog.links[1][2])=blog.links[1][1]
            .
        hr
        
        h1.blogTitle Loading...
        .blogPosting
