#blogBox.expBox(name="blogBox")
	#red.topWrapper
		button#closeBtn.closeBtn X
	
	//button#quickChooseBtn.quickChooseBtn +
	//#quickChooseBlog.quickChoose
	//	#monthMenuBlog.monthMenu
	//		h4.yearQuick 2011
	//		hr.yearQUnder
	//		ul
	//			li<a href="javascript:blog_ns.display_month('May_2011');">May/2011</a>
	//			li<a href="javascript:blog_ns.display_month('August_2011');">August/2011</a>
				
	// Title
	#bTitleWrapper.titleWrapper(name="bTitleWrapper)
		h1 Jacob Friesen's Blog: August 2011
	#bTextWrapper.textWrapper(name="bTextWrapper")
		blog coming soon...