-var blog = constant.page_text.blog;

#bTitleWrapper.title_bar
    h1(id = "blog_title")= blog.title
.blog.section
    p= blog.introduction
            &nbsp;
            a(href=blog.links[0][0], alt=blog.links[0][2])=blog.links[0][1]
            .
    hr
    
    h1.blogTitle Loading...
    .blogPosting