.cards {
  padding-left: 25px;
  padding-right: 25px; }
  .cards .card {
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 0 5px #ddd;
    margin-bottom: 20px;
    max-height: 70px;
    overflow: hidden; }
    .cards .card .dates,
    .cards .card .title-detail {
      color: #999; }
    .cards .card .card-header {
      cursor: pointer;
      padding: 20px 20px 20px 15px;
      position: relative;
      margin: 0; }
      .cards .card .card-header .title {
        margin: 0 0 0 30px; }
      .cards .card .card-header .date {
        padding-left: 5px; }
      .cards .card .card-header .expander {
        background-color: transparent;
        cursor: pointer;
        border: none;
        font-size: 14px;
        outline-width: 0;
        padding: 0;
        width: 20px;
        position: absolute;
        top: 20px;
        left: 15px; }
        .cards .card .card-header .expander .fa {
          margin-left: 5px; }
    .cards .card .card-body .points {
      padding-left: 20px; }
      .cards .card .card-body .points .point {
        padding: 0 0 7px 5px; }
    .cards .card .row {
      padding-bottom: 20px; }
      .cards .card .row .left,
      .cards .card .row .right {
        padding-top: 0;
        vertical-align: top; }
        .cards .card .row .left p,
        .cards .card .row .right p {
          margin: 0; }
      .cards .card .row .left {
        padding-left: 20px; }
      .cards .card .row .right {
        height: 180px;
        padding-right: 20px; }
    .cards .card hr {
      margin: 0; }
    .cards .card .links {
      background-color: #eee;
      border-top: 1px solid #ddd;
      padding: 20px; }
      .cards .card .links .link {
        display: inline-block;
        padding-left: 5px; }
    .cards .card:last-child {
      margin-bottom: 10px; }
    .cards .card.expanded {
      max-height: 600px;
      transition: max-height 0.3s ease-in; }

.cards.no-popout {
  padding-top: 60px;
  padding-left: 0;
  padding-right: 0; }
  .cards.no-popout .card {
    border: none;
    box-shadow: none;
    margin-bottom: 0; }

@media (max-width: 1023px) and (min-width: 765px) {
  .cards .card .picture {
    margin-top: 20px;
    height: 320px; }
  .cards .card .row .right {
    height: auto; }
  .cards .card.expanded {
    max-height: 1000px; } }

@media (max-width: 650px) {
  .cards {
    padding-top: 55px;
    padding-left: 20px;
    padding-right: 20px; }
    .cards .summary {
      margin-bottom: 0; }
    .cards .card {
      border: none;
      border-radius: 0;
      box-shadow: none;
      margin-bottom: 0; }
      .cards .card .card-header {
        border-bottom: 1px solid #ccc;
        padding: 10px 0 10px 0; }
        .cards .card .card-header .expander {
          top: 10px;
          left: 0; }
        .cards .card .card-header .dates,
        .cards .card .card-header .title-detail {
          display: block; }
        .cards .card .card-header .date {
          padding-left: 0; }
      .cards .card .card-body {
        padding-top: 15px; }
        .cards .card .card-body .left,
        .cards .card .card-body .right {
          padding: 0; }
        .cards .card .card-body .right {
          margin-top: 15px; }
      .cards .card .links {
        background-color: transparent;
        border: none;
        padding: 0 0 10px 0; }
      .cards .card.expanded {
        max-height: 800px; }
    .cards .card:last-child .card-header {
      border-bottom: none; }
    .cards .card.expanded:last-child .card-header {
      border-bottom: 1px solid #ccc; }
  .cards.no-popout {
    padding-left: 20px;
    padding-right: 20px; }
    .cards.no-popout .card-header {
      padding-top: 20px;
      padding-bottom: 20px; }
      .cards.no-popout .card-header .expander {
        top: auto; }
    .cards.no-popout .card:last-child .card-header {
      border-bottom: none; }
    .cards.no-popout .card-body {
      padding-top: 15px; }
    .cards.no-popout .card.expanded .card-body {
      border-bottom: 1px solid #ddd; } }
