.experiences {
  padding-top: 80px; }
  .experiences .card hr.separator {
    background-color: #ccc; }
  .experiences .card-body {
    padding: 0 20px 20px 20px; }
    .experiences .card-body .description {
      margin: 20px 0 15px 0; }

@media (max-width: 650px) {
  .experiences {
    padding-top: 60px;
    padding-bottom: 0; }
    .experiences .employer {
      display: table-cell; }
    .experiences .separator {
      display: none; }
    .experiences .card {
      margin-bottom: 0;
      max-height: 110px;
      padding-bottom: 21px; }
      .experiences .card .card-header {
        padding-bottom: 20px; }
      .experiences .card .card-body {
        padding: 0; }
    .experiences .card.expanded {
      padding-bottom: 10px; } }
