.home .content {
  padding: 10px 10px 5px 10px;
  vertical-align: top;
}
.home ul {
  padding-left: 15px;
}
.home .contact {
  padding-bottom: 3px;
}
.home .contact .fa {
  width: 20px;
}
.home .contact b {
  display: inline-block;
  width: 75px;
}
.home .email-contact {
  padding-bottom: 0;
}
.home .email-contact b {
  width: auto;
}
.home .summary-title {
  margin-top: 0;
  margin-bottom: 10px;
}
.home .profile-image {
  box-shadow: inset 1px 1px 1px #ddd;
  border-radius: 6px;
  height: 100%;
  width: 100%;
}
.home .detailed-description {
  padding-top: 0;
  padding-bottom: 0;
}
.home .detailed-description p {
  margin-bottom: 0;
}