.page.resume {
  margin-top: 0;
  padding: 40px 40px 15px 40px;
  position: relative; }
  .page.resume .download {
    background-color: #5cb85c;
    border-color: #4cae4c;
    border-radius: 0 0 0 3px;
    color: white;
    padding: 9px 18px;
    text-decoration: none;
    position: absolute;
    top: 54px;
    right: 0;
    z-index: 2; }
    .page.resume .download:hover, .page.resume .download:active {
      background-color: #449d44;
      border-color: #398439; }
    .page.resume .download .fa {
      margin-right: 5px; }
  .page.resume .resume-body {
    position: relative;
    z-index: 1; }
  .page.resume .resume-holder {
    border: 0;
    width: 100%; }
  .page.resume .header {
    box-shadow: none;
    margin-top: 0;
    padding-top: 40px;
    position: relative; }
  .page.resume ul {
    margin-top: 10px;
    margin-left: 40px; }

@media (max-width: 650px) {
  .page.resume {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0; }
    .page.resume ul {
      margin-top: 10px;
      margin-left: 10px; }
    .page.resume .download {
      top: 45px; }
    .page.resume .resume-body {
      margin-left: 20px;
      margin-right: 20px; } }
