<!-- First blog entry -->
<div id="blog1_1">
	<div class="blogTitle" onmousedown="toggleBlogDisp('blog1_1')">
		<button id="blog1_1Clps"  class="collapseTextB">-</button>
		<h1 class="blogPost"><b>Personal Website 2.0 Launch</b> - 03/2011</h1><br/>
	</div>
	<div id="blog1_1Txt">
		<hr class="abovePost"></hr>
		<p>
			Welcome to the launch of the second version of my personal website! If you want to know a little about me go to the 
			<a class="jsLink" href="javascript:openObject('homeBox');">home page</a>
			<a class="nonJSLink" href="noScript.php">home page</a>
			, all the other buttons
			demonstrate and explain my skills. Though this blog isn't about me demoing my skills, its more about technical problems I have encountered and solved
			while programming. The focus will be on hard/weird things I have encountered, which I think will be of use to most web programmers of some sort.
		</p>
		<p>
			My next entry will be on seperate CSS for each IE,Firefox, and Safari/Chrome.
		</p>
	</div>
</div>

<!-- HTML/CSS browser detection
<div id="blog1_2">
	<div class="blogTitle" onmousedown="toggleBlogDisp('blog1_2')">
		<button id="blog1_2Clps"  class="collapseTextB">+</button>
		<h1 class="blogPost"><b>Launch of my Updated Website</b> - 03/2011</h1>
	</div>
	<div id="blog1_2Txt">
		<hr class="abovePost"></hr>
		<p>
			Welcome to the launch of the second version of my personal website! If you want to know a little about me go to the home page, all the other buttons
			demonstrate and explain my skills. Though this blog isn't about demoing my skills, its more about technical problems I have encountered and solved
			while programming. The focus will be on hard/weird things I have encountered, which I think will be of use to most high level programmers.
		</p>
		<p>
			My next entry will be on seperate CSS for each IE,Firefox, and Safari/Chrome.
		</p>
	</div>
</div> -->