div.expBox div.textWrapper{
    margin-top: 3px;
}

    div.expBox div.textWrapper a{
        text-decoration: underline;
        color: blue;
    }
    
    div.expBox div.textWrapper h1{
        margin: 10px 0 20px 0;
    }
    
    div.expBox div.textWrapper pre{
        font-size: 14px;
    }
