a {
	text-decoration: none;
	color: black;
}

/*This top class can be considered the "body" of the menu*/
div.icon_based_menu {
	position: relative;
	background-color: white;
	
	/*text*/
	color: black;
	font-style: Arial;
	font-size: 32px;/*Don't know what the conditions are outside of this library so set an absolute font*/
	
	margin: 0 auto;
	width: 700px;
	border: 1px solid black;
	border-radius:  0 0 7px 7px;
	box-shadow: 3px 10px 10px rgba(0,0,0,.5);
}
	div.icbm_main_objects{
		position: relative;
	
		padding: 0 0 10px 0;
		border-radius:  0 0 7px 7px;
	}
		
		.icbm_main_objects h2{
			background-color: black;
			font-size: 0.8em;
			text-align: center;
			color: white;
		}

		.icbm_main_objects div{
			display: inline-block;
		}
	
		div.icbm_object{
			position: relative;
			
			height: 125px;
			margin-top: 15px;
			background-color: white;
		}
			div.icbm_object a{
				cursor: pointer;
				cursor: hand;
			}
		
			div.icbm_object div{
				background-color: white;
			}
			
			img.icbm_image, img.icbm_image_cache {
				border-radius: 5px;
				border: 1px solid black;
				margin-left: 15px;
				
				width: 120px;
				height: 100px;
			}
			
			img.icbm_image_cache {
			    display: none;
			}
			
			div.icbm_object h2 {
				position: relative;
				background-color: transparent;
				margin-left: 15px;
				
				text-align: center;
				font-weight: 100;
				font-family: Arial;
				font-size: 0.6em;
				color: black;
			}


/*
 * Image colour changing, not exactly DRY but a lot simple than the equivalent JS (lots of work making it smooth in JS)
 */
a.menuLink div h2 {
	background-color: transparent;
	color: black;
}

div.home-button, div.home-button-selected,
div.skills-button, div.skills-button-selected,
div.experience-button, div.experience-button-selected,
div.demos-button, div.demos-button-selected,
div.blog-button, div.blog-button-selected {
	border: 1px solid black;
	border-radius: 5px;
	width: 120px;
	height: 100px;
	background-color:red;
}

div.home-button {
	background-image: url('../../images/menu_icons/home_page_grey.png');
}

div.home-button:hover, div.home-button-selected {
	background-image: url('../../images/menu_icons/home_page.png');
}

div.skills-button {
	background-image: url('../../images/menu_icons/skills_page_grey.png');
}

div.skills-button:hover, div.skills-button-selected {
	background-image: url('../../images/menu_icons/skills_page.png');
}

div.experience-button {
	background-image: url('../../images/menu_icons/experience_page_grey.png');
}

div.experience-button:hover, div.experience-button-selected {
	background-image: url('../../images/menu_icons/experience_page.png');
}

div.demos-button {
	background-image: url('../../images/menu_icons/demos_page_grey.png');
}

div.demos-button:hover, div.demos-button-selected {
	background-image: url('../../images/menu_icons/demos_page.png');
}

div.blog-button {
	background-image: url('../../images/menu_icons/blog_page_grey.png');
}

div.blog-button:hover, div.blog-button-selected {
	background-image: url('../../images/menu_icons/blog_page.png');
}