body {
    margin-left: -192px;
}

div.menuBottom{ 
    height: 70px;
}

hr.underText {
    margin-bottom: -10px;
}

/* Menu Buttons */
button.leftMenuButton, a.leftMenuButton, button.clickedButton, a.clickedButton, button.optionsBtn, button.closeBtn, button.closeBtnNew, input.attachButton, button.controlsBtn{
    border: 1px solid black;
}

/* Experience */
div.job, div.jobClps{
    border: 1px solid black;
}

ul.jobDesc, p.jobName {
    margin-left: 40px;
}

/* Other Pages */
div.job, div.jobClps, div.skills, div.skillsClps, div.demoPane, div.demoPaneClps{
    border: 1px solid black;
}

ul.jobDesc, p.jobName {
    margin-left: 40px;
}

div.demoPic {
    margin-top: -33px;
}