/**
 * Border darkening
 **/
button.leftMenuButton, a.leftMenuButton, button.clickedButton, a.clickedButton {
    border: 1px solid black;
}

div.job, div.skills, div.demoPane{
    border: 1px solid black;
}

/**
 * Spacing Fixes
 **/
ul.specialties{
    margin-left: 10px;
}

    ul.specialties li{
        display: inline-block;
        line-height: 25px;
        padding: 0;
        margin: 0;
    }

div.skillText{
    margin-top: 30px;
}

li.expandSkillType{
    margin: 10px 0 0 0;
    line-height: 20px;
}

    li.expandSkillType li{
        line-height: 20px;
    }
    
ul.jobDesc{
    margin: -20px 0 20px 60px;
}

div.demoText{
    display: inline;
}

div.demoPic{
    display: inline;
}

div.downloadLinks{
    margin-top: 15px;
}