h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
	border-width: 0;
}

html,body {
	margin: 0;
}

body{
	font-family: Arial;
	height: 100%;
	font-size: 2em;
	color: black;
	overflow-y: scroll;
}

pre {
	background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    overflow: auto;
    padding: 10px;
}

h1{
	margin: 0;
	font-size: 28px;
}

p, span{
	margin-top: 0px;
	font-size: 15px;
}

hr{
	margin: 0;	
}

#page {
	width: 100%;
}

a.nonJSLink{
	display: none;	
}

a {
    color: blue;
	text-decoration: underline;
}

div.window{
	margin-bottom: 24px;
}

/*
*Boxes
*/

div.mainBox, div.expBox{
  width: 700px;
  background-color: white;
  border-radius: 7px;
  display: inline;/*orig screen in popped up via javascript*/
}

div.enableJS{
	position: relative;
	text-align: center;
}

div.mainBox{
	display: inline;
}

	div.titleWrapper {
		width: 616px;
		height: 38px;
		margin: 10px auto 0 auto;
	}
	
	div.topWrapper {
		border-radius:7px 7px 0 0;
		height: 26px;
		border: 0px solid black;
		border-bottom-width: 1px;
	}
	
	div.mainPicture {
		border-radius: 7px;
		border: 1px solid black;
		width: 88%;
		height: 350px;
		margin: 5px auto 0 auto;
	}
	
		img.mainImage {
			border-radius:7px;
			width: 100%;
			height: 100%;
			position: relative;
		}

/*
* Home Specific
*/

#homeBox p {
	margin-bottom: 5px;
}

b.specialties {
	font-size: 0.5em;
}

ul.specialties {
	padding: 0 0 0 13px;
	margin: 0;
}

ul li:first-child {
	margin-top: 2px;
}

/*
* Text
*/

div.textWrapper{
	width: 88%;
	margin: 20px auto;
}

button.collapseText, button.collapseTextT,button.collapseTextB{
	cursor: pointer;
	cursor: hand;
	
	color: black;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
	border-radius: 5px;
	margin-top: 2px;
	margin-right: 2px;
	font-size: 17px;
	border: 1px solid grey;
	float: right;
	height: 22px;
	width: 22px;
	background-color: white;
}

button.collapseText:hover, button.collapseText:hover, button.collapseTextT:hover, button.collapseTextB:hover{
	background-color: black;
	border-color: black;
	color: white;
}

/*
* contact info
*/
div.contact_footer{
	border-top: 1px solid black;
	box-shadow: 5px 5px 3px rgba(0,0,0,.5);
	background-color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 4;
	text-align: center;
	padding-bottom: 7px;
	margin-top: 10px;
}
	div.contact_footer p{
		font-size: 22px;
		display: inline;
		margin-bottom: 10px;
	}

	button.install_local{
		cursor: pointer;
		cursor: hand;

	    display: inline;

	    width: 150px;
	    margin: 7px 0 0 10px;
	    padding: 5px;

	    color: black;
	    font-size: 18px;
	    font-weight: bold;
	    background: none;
	    background-color: white;
	    border: 1px solid black;
	    border-radius: 7px;
	}

	button.install_local:hover{
		background-color: lightGrey;
	}

a.email{
	text-decoration: underline;
}

div.contact_right{
	border: 1px solid black;
	border-right-width: 0;
	border-top-width: 0;
	border-radius: 0 0 0 7px;
	box-shadow: 5px 5px 3px rgba(0,0,0,.5);
	
	background-color: white;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 4;
	padding: 3px;
	padding-bottom: 0px;
}

	div.contact_right a{
		display: block;
	}
	
	div.contact_right a.bottom{
		margin-bottom: -2px;
	}

/*
* Utilities
*/
#green, #changeGreen{
	background-color: #98D398;
}

#changeGreen:hover{
	background-color: #D2F7D2;
}

#orange, .changeOrange{
	background-color: #E5AB47;
}

.changeOrange:hover {
	background-color: #E9D5B2;
}

#brown, #skill_1, #skill_2, #skill_3, #skill_4, .brown, div.changeBrown{
	background-color: #C4B891;
}

#skill_1:hover, #skill_2:hover, #skill_3:hover, #skill_4:hover, div.changeBrown:hover {
	background-color: #DEDFC2;
}

#blue{
	background-color: lightBlue;	
}

#red{
	background-color: #A05B5B;	
}

#purple {
	background-color: purple;	
}

#lightGrey{
	background-color: lightGrey;	
}