h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
	margin: 0;
}

body{
	font-family: Arial;
	height: 100%;
	font-size: 2em;
	color: black;
	overflow-y: scroll;
}

body.videoBody {
	background-color: #333333;
}

h1{
	margin: 0;
	font-size: 28px;
}

p, span{
	margin-top: 0px;
	font-size: 15px;
}

hr{
	margin: 0;	
}

#page {
	width: 100%;
}

a.nonJSLink{
	display: none;	
}

a {
    color: blue;
	text-decoration: underline;
}

/*
*Boxes
*/

/*On start load and removed on end load*/
div.centerInit{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: 4%;
	width: 812px;/*700 + 112 = home + menu widths*/
}

div.windowSpace{
	float: left;
	margin-left: 124px;
}

div.mainBox, div.expBox{
  width: 700px;
  background-color: white;
  border-radius: 7px;
  display: none;/*orig screen in popped up via javascript*/
}

div.enableJS{
	position: relative;
	text-align: center;
}

div.mainBox{
	display: inline;
}

	div.titleWrapper {
		width: 616px;
		height: 38px;
		margin: 10px auto 0 auto;
	}
	
	div.topWrapper {
		border-radius:7px 7px 0 0;
		height: 26px;
		border: 0px solid black;
		border-bottom-width: 1px;
	}
	
	div.mainPicture {
		border-radius: 7px;
		border: 1px solid black;
		width: 88%;
		height: 350px;
		margin: 5px auto 0 auto;
	}
	
		img.mainImage {
			border-radius:7px;
			width: 100%;
			height: 100%;
			position: relative;
		}

/* Only present in no script layouts*/
div.rolloutMenu {
	width: 112px;
	border-style: solid;
	border-width: 1px;
	border-radius:7px;
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
	background-color: white;
	position: absolute;
}

div.menuBottom { 
	height: 220px;
}

/*
* Home Specific
*/

#homeBox p {
	margin-bottom: 5px;
}

b.specialties {
	font-size: 0.5em;
}

ul.specialties {
	padding: 0 0 0 13px;
	margin: 0;
}

ul li:first-child {
	margin-top: 2px;
}

/*
* Text
*/

div.textWrapper{
	width: 88%;
	margin: 20px auto;
}

p.windowTop {
	padding: 1px 3px 1px 3px;
	float:left;
	font-size: 17px;
	font-weight: bold;
	margin-left: 200px;
	margin-top: 2px;
	margin-bottom:0px;
	background-color: white;
	border-radius:3px;
	border: 1px solid black;
}

/*
* Buttons (and html that looks like buttons)
*/
button.leftMenuButton, a.leftMenuButton, button.clickedButton, a.clickedButton, button.optionsBtn, button.closeBtn, button.closeBtnNew, input.attachButton, button.controlsBtn{
	text-decoration: none;
	text-align: center;
	border: 1px solid grey;
	border-radius:7px;
	box-shadow: 5px 5px 3px rgba(0,0,0,.5);
	background-color: white;
}

button.leftButton:active,button.rightButton:active{
	-moz-box-shadow:inset 0px 0px 0px rgba(0,0,0,.5);
	box-shadow:inset 0px 0px 0px rgba(0,0,0,.5);
}

button.leftMenuButton, a.leftMenuButton, button.clickedButton, a.clickedButton{
	color: black;
	background-color: white;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	width: 100px;
	height: 32px;	
	float: left;
	z-index: 3;
}

button.leftMenuButton:hover, a.leftMenuButton:hover, button.closeBtn:hover, button.optionsBtn:hover, input.attachButton:hover, button.quickChooseBtn:hover,
button.collapseText:hover, button.collapseTextT:hover, button.collapseTextB:hover{
	background-color: black;
	border-color: black;
	color: white;
}

button.clickedButton, a.clickedButton {
	margin-left: 7px;
	margin-right: -5px;
	margin-top: 12px;
	margin-bottom: -2px;
	box-shadow:inset 0px 0px 0px rgba(0,0,0,.5);
}

button.controlsBtn {
	margin-top: -23px;
	margin-right: 5px;
	float: right;
	border-color: black;
}

/*Top Section of each window*/
button.closeBtn, button.optionsBtn, input.attachButton, button.closeBtnNew{
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
	margin-top: 2px;
}

button.closeBtn {
	color: black;
	margin-right: 4px;
	float: right;
	position: relative;
	z-index: 2;
}

button.optionsBtn {
	color: black;
	margin: -1px 4px 4px 50px;
}

input.attachButton {
	color: black;
	margin-left: 2px;
	float: left;
}

button.closeBtn:active, input.attachButton:active, button.closeBtnNew:active{
	margin-top: 3px;
	margin-right: 0px;
	-moz-box-shadow:inset 0px 0px 0px rgba(0,0,0,.5);
	box-shadow:inset 0px 0px 0px rgba(0,0,0,.5);
}

button.closeBtn:active {
	margin-left: 2px;
	margin-right: 2px;
}

button.collapseText, button.collapseTextT,button.collapseTextB, button.quickChooseBtn{
	color: black;
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,.5);
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 2px;
	margin-right: 2px;
	font-size: 17px;
	border: 1px solid grey;
	float: right;
	height: 22px;
	width: 22px;
	background-color: white;
}

input.attachButton:active
{
	margin-left: 5px;
}

/*
* Menu window
*/

span.menuTitle {
	margin-left: 32px;
	font-size: 20px;
}

hr.underText {
	margin-top: 3px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
}
img.mainImage
/*
* Menu top bar
*/

div.topBar, div.topBarNS{
	margin: 0 -3px 3 -3px;
	padding: 0;
	border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: black;
	z-index: 3;
}

div.topBar {
	height: 40px;	
}

#menuTop a, #enableJSTop h3{
	font-size: 20px;
	text-decoration: none;
	margin: 0px 0 0px 2px;
	padding-top: 5px;
	color: white;
}

#menuTop a{
	padding-top: 4px;
	padding-bottom: 4px;	
}

#menuTop div{
	float: left;
	margin-left: 20px;
	margin-bottom: 3px;
	padding-top: 5px;
}

#menuTop a:hover{
	background-color: white;
	color: black;	
}

#menuTop div.menuExpand{
	border: 2px solid black;
	border-top-width: 0px;
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	background-color: white;
	margin-top: 4px;
	margin-left: 0px;
	display: none;
}

div.controlsTabList{
	display: inline;	
}

div.controlsTabListClps{
	display: none;	
}

ul.controlsList{
	margin-top: -6px;
	margin-bottom: 7px;
	padding-left: 20px;	
}

ul.controlsList li{

}

div.checkText{
	font-size: 14px;
	margin-top: -3px;
}

p.hint{
	margin-left: 20px;	
}

/*
* contact info
*/
div.contact_footer{
	border-top: 1px solid black;
	box-shadow: 5px 5px 3px rgba(0,0,0,.5);
	background-color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 4;
	text-align: center;
}
	div.contact_footer p{	
		margin: 0;
		font-size: 22px;
	}

a.email{
	text-decoration: underline;
}

div.contact_right{
	border: 1px solid black;
	border-right-width: 0;
	border-top-width: 0;
	border-radius: 0 0 0 7px;
	box-shadow: 5px 5px 3px rgba(0,0,0,.5);
	
	background-color: white;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 4;
	padding: 3px;
	padding-bottom: 0px;
}

	div.contact_right a{
		display: block;
	}
	
	div.contact_right a.bottom{
		margin-bottom: -2px;
	}

/*
* Utilities
*/
#green, #changeGreen{
	background-color: #98D398;
}

#changeGreen:hover{
	background-color: #D2F7D2;
}

#orange, #changeOrange{
	background-color: #E5AB47;
}

#changeOrange:hover {
	background-color: #E9D5B2;
}

#brown, #skill_1, #skill_2, #skill_3, #skill_4, .brown{
	background-color: #C4B891;
}

#skill_1:hover, #skill_2:hover, #skill_3:hover , #skill_4:hover {
	background-color: #DEDFC2;
}

#blue{
	background-color: lightBlue;	
}

#red{
	background-color: #A05B5B;	
}

#purple {
	background-color: purple;	
}

#lightGrey{
	background-color: lightGrey;	
}