.page.blog
  h2#post-title.post-title {{ postTitle }}
  p.post-body([innerHTML]='postBody', *ngIf='postBody')

  hr

  p.other-posts-comment
    span This is the latest post from my 
    a(href=links.blog.address)= links.blog.name
    span .
