//Used to for proper inits
p.no-display
h1.no-display
h4.no-display

#top

// contact
center.top-info
    span <a href="mailto:jacob@jacobfriesen.com">jacob@jacobfriesen</a>, <a href="https://github.com/Jacob-Friesen/portfolio_website">source</a>

.menu-container
    div
        - var pages = constant.pages
        - for (var i = 0; i < pages.length; i++)
            - page_id = pages[i].toLowerCase();
                div.menu-box(id='#{page_id}_button')
                    a(href='/#{page_id}')
                        .menu-icon(id = "#{page_id}")
                        center
                            span.main= pages[i].replace('Experience', 'Exp.')

.page-state(id="{{getCurrentPage()}}")

.main-box
    div(ng-view='')

center#social-media
    <a href="http://www.linkedin.com/home"><img src="images/linkedin.png"/></a>
    <a href="https://twitter.com/Jacob_Friesen"><img src="images/twitter.png"/></a>
    <a href="https://github.com/Jacob-Friesen"><img src="images/github.png"/></a>
    
center 
    cite Jacob Friesen 2012, <a href="downloads/Jacob_Friesen_Resume.pdf">Resume</a> (<a href="downloads/Jacob_Friesen_Resume.html">HTML</a>), <a href="MIT_License.txt">MIT Lic</a>.

//bottom spacing so options bar never blocks a selection
#safety-space.safety-space

// change page options bar, may have to use fixed positioning due to http://caniuse.com/css-fixed
// #page-options.page-options.no-padding
//     .to-top
//         a.to-top(href="#top") Top
//     .page-options-inner
//         span.text-change Text:
//         button.text-change#small-text-change Small
//         button.text-change#normal-text-change Normal
//         button.text-change#large-text-change Large