//- Only get system wide scripts on page load
- if (!prev_loaded)
    !!! strict
    html
        head
            title= title
            meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
            meta(name="language", content="en-us")
            meta(name="description", content="Jacob Friesen's Website")
            meta(name="keywords", content= "jacob friesen, jacob friesen web developer, jacob, Winnipeg Web Developers, jacob friesen's website")
            meta(name="revisit-after", content="1 day")
            meta(name="classification", content="Jacob Friesen, Home")
            meta(name="Robots", content="INDEX,FOLLOW")
            link(rel="shortcut icon", href="images/favicon.ico", style="width:16px;height:16px")

            meta(name="viewport", id="viewport", content="width=device-width, initial-scale=1.0")
            link(rel='stylesheet', href='/stylesheets/style.css')
            link(rel='stylesheet', href='/stylesheets/demos.css')
            link(rel='stylesheet', href='/stylesheets/experience.css')
            link(rel='stylesheet', href='/stylesheets/blog.css')
            link(rel='stylesheet', href='/stylesheets/skills.css')

            //-script(src='js/jquery-1.7.2.min.js', defer="defer")
            //-script(src='js/jquery.lightbox_me.min.js', defer="defer")
            //-script(src='js/Menu.js', defer="defer")
            //-script(src='js/Demos.js', defer="defer")
            //-script(src='js/Skills.js', defer="defer")
            //-script(src='js/Experience.js', defer="defer")
            //-script(src='js/Utility.js', defer="defer")
            //-script(src='js/XSystem.js', defer="defer")
            //-script(src='constants.js', defer="defer")
            script(src='js/min.js', defer="defer")
            
        body#body!= body
- else
    body#body!= body