.blog {
  padding: 55px 40px 5px 40px;

  .post-title {
    font-weight: normal;
    text-align: center;
  }

  .other-posts-comment {
    text-align: center;
  }

  .prettyprint {
    background-color: white;
    border: none;
    border-left: 1px solid lightGrey;
    padding-left: 15px;
    overflow: scroll;
  }
}

@media (max-width: 650px) {
  .blog {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 45px;
  }

  // Make sure long links do not extend the page width.
  a {
    word-break: break-all;
  }
}