.blog {
  padding: 55px 40px 5px 40px;

  .post-title {
    font-weight: normal;
    text-align: center;
  }

  .other-posts-comment {
    text-align: center;
  }

  .prettyprint {
    background-color: white;
    border: none;
    border-left: 1px solid lightGrey;
    padding-left: 15px;
  }
}