.demos {
  $demo-border: 1px solid #ddd;
  padding-left: 25px;
  padding-right: 25px;

  .summary {
    padding-bottom: 10px;
  }

  .demo {
    $side-margin: 20px;

    border: $demo-border;
    border-radius: 6px;
    box-shadow: 0 0 5px #ddd;
    margin-bottom: $side-margin;

    // Make it expand and collapse gradually (See .expanded too). Generalize this later for other sections.
    // This was a pretty ingenious solution: http://stackoverflow.com/a/8331169
    max-height: 70px;
    overflow: hidden;

    .demo-header {
      cursor: pointer;
      padding: $side-margin $side-margin $side-margin ($side-margin - 5);
      position: relative;
      margin: 0;

      .title {
        margin: 0 0 0 30px;
      }

      .date {
        color: #999;
        padding-left: 5px;
      }

      .expander {
        background-color: transparent;
        cursor: pointer;
        border: none;
        font-size: 14px;
        outline-width: 0;

        position: absolute;
        top: $side-margin;
        left: ($side-margin - 5);
      }
    }

    .row {
      padding-bottom: $side-margin;

      .left,
      .right {
        padding-top: 0;
        vertical-align: top;

        p {
          margin: 0;
        }
      }
      
      .left {
        padding-left: $side-margin;
      }

      .right {
        height: 180px;
        padding-right: $side-margin;
      }
    }

    .picture {
      animation: 0.45s ease-in 0s opacity-fadein;

      border: $demo-border;
      border-radius: 6px;
      width: 100%;
      height: 100%;
    }

    hr {
      margin: 0;
    }

    .links {
      background-color: #eee;
      border-top: 1px solid #ddd;
      padding: $side-margin;

      .link {
        display: inline-block;
        padding-left: 5px;
      }
    }

    &:last-child {
      margin-bottom: 10px;
    }

    &.expanded {
      // The card contents can never exceed this height otherwise the animation will stop expanding at a certian point.
      max-height: 600px;
      transition: max-height 0.3s ease-in;
    }
  }
}