.experiences {
  $experience-margin: 20px;

  .card {
    border: none;
    box-shadow: none;
    margin-bottom: 0;

    hr.separator {
      background-color: #ccc;
    }
  }

  .card-body {
    padding: 0 $experience-margin $experience-margin $experience-margin;

    .description {
      margin: $experience-margin 0 15px 0;
    }
  }
}

@media (min-width: 767px) {
  .experiences {
    padding: 60px 5px 1px 5px;
  }
}

@media (max-width: 650px) {
  .experiences {
    padding-top: 60px;
    padding-bottom: 0;

    .employer {
      display: table-cell;
    }

    .separator {
      display: none;
    }

    .card {
      margin-bottom: 0;
      max-height: 110px;
      padding-bottom: 21px;

      .card-header {
        padding-bottom: 20px;
      }

      .card-body {
        padding: 0;
      }
    }

    .card.expanded {
      padding-bottom: 10px;
    }
  }
}