.skills {
  .card-body {
    padding: 0 20px 5px 20px;
  }

  .card.expanded {
    // The card contents can never exceed this height otherwise the animation will stop expanding at a certian point.
    max-height: 800px;
  }

  .skillset {
    $skillset-margin: 10px;

    .card {
      border: none;
      box-shadow: none;
      margin-bottom: $skillset-margin;

      .card-header {
        padding-top: $skillset-margin;
        padding-bottom: $skillset-margin;

        .expander {
          top: auto;
        }
      }

      .summary {
        margin-bottom: 0;
      }

      .points {
        margin-top: $skillset-margin + 5;
      }
    }
  }
}