html
    head
        meta(charset="utf-8")
        title Mocha Tests
        link(rel="stylesheet", href="/stylesheets/mocha.css")
        script(src="../javascripts/jquery.min.js")
        script(src="/javascripts/chai/chai.js")
        script(src="/javascripts/mocha/mocha.js")
        script(src="/javascripts/sinon/sinon.js")
        script
            mocha.setup('bdd');
        
        // tested
        script(src="/javascripts/Selector.js")
        
        // tests
        script(src="/javascripts/test/Selector.test.js")
        
        script
            $(function() {
                mocha.run();
            })
    body
        #mocha
