below_section = 14px

p.demo_intro
    margin: 5px 0 10px 0

div.demos.section
    margin-bottom: below_section
    width: 95%

    .demos.header
        position: relative
        
        .demos.title
            display: inline-block
                
            h4.vertical_title
                display: block
        
        // vertical alignment
        button.collapser
            position: absolute
            right: 1%
            
        
    p.demo_text
        margin-top: 5px
        background-color: white

    img.demo_img
        display: block;
        margin-left: auto
        margin-right: auto

        border: 1px solid black;
        border-radius: 7px;
