p.demo_intro {
  margin: 5px 0 10px 0;
}
div.demos.section {
  margin-bottom: 14px;
  width: 95%;
}
div.demos.section .demos.header {
  position: relative;
}
div.demos.section .demos.header .demos.title {
  display: inline-block;
}
div.demos.section .demos.header .demos.title h4.vertical_title {
  display: block;
}
div.demos.section .demos.header button.collapser {
  position: absolute;
  top: 50%;
  right: 1%;
  margin-top: -45%;
}
div.demos.section .demos.header button.collapser.big {
  margin-top: -33%;
}
div.demos.section p.demo_text {
  margin-top: 5px;
  background-color: #fff;
}
div.demos.section img.demo_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000;
  border-radius: 7px;
}
