div.skills.header, div.skills.skill
    padding: 0 10px 0 10px
    
    button.skills.collapser
        margin-top: 3px
    
    h3.skills.vertical_title
        margin: 17px 0 17px 0
        
div.skills.section
    width: 95%
    
    ul.skill_list
        margin: 0
        padding: 0
        list-style-type: none
        
        button.collapser
            margin-top: 6px
            
    hr.clear.skills
        width:95%
        margin-left: 2.5%
    
    hr.clear.skills_wide
        width: 100%

    p.skill_name
        display: inline-block
        margin: 20px 0 20px 0
        background-color: white
        
        _1_
            margin-top: 0

    ul.skills.skill_details
        list-style-type: square
        margin-bottom: 20px

        li
            background-color: white
            margin-bottom: 10px