div.skills.header,
div.skills.skill {
  padding: 0 10px 0 10px;
}
div.skills.header button.skills.collapser,
div.skills.skill button.skills.collapser {
  margin-top: 10px;
}
div.skills.header h3.skills.vertical_title,
div.skills.skill h3.skills.vertical_title {
  margin: 17px 0 17px 0;
}
div.skills.section {
  width: 95%;
}
div.skills.section ul.skill_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
div.skills.section ul.skill_list button.collapser {
  margin-top: 12px;
}
div.skills.section hr.clear.skills {
  width: 95%;
  margin-left: 2.5%;
}
div.skills.section hr.clear.skills_wide {
  width: 100%;
}
div.skills.section p.skill_name {
  display: inline-block;
  margin: 20px 0 20px 0;
  background-color: #fff;
}
div.skills.section p.skill_name _1_ {
  margin-top: 0;
}
div.skills.section ul.skills.skill_details {
  list-style-type: square;
  margin-bottom: 20px;
}
div.skills.section ul.skills.skill_details li {
  background-color: #fff;
  margin-bottom: 10px;
}
